html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.slideScroll-slide {
    padding:20px;
    background:#fff;
    box-shadow:0 0 20px rgba(0,0,0,0.25);
    z-index:2;
}
.slideScroll-slide:nth-child(odd) {
    background:#ddd;
    z-index:1;
}
.test-overlay {
    position:fixed;
    z-index:3;
    top:20px;
    right:20px;
    bottom:20px;
    background:#fff;
    box-shadow:0 0 20px rgba(0,0,0,0.25);
    padding:10px;
}