/* link icon suffixes */
a:after {
    font-size:75%;
    display:inline-block;
    vertical-align:top;
    font-family: FontAwesome;
}
a[target]:after {
    content: "\00A0\f14c";
}
a[href^="mailto:"]:after {
    content: "\00A0\f0e0";
}
a[href^="#"]:after {
    content: "\00A0\f13d";
}

/* header anchor icons */
h1 > a[name]:after,
h1[id]:after,
h2 > a[name]:after,
h2[id]:after,
h3 > a[name]:after,
h3[id]:after,
h4 > a[name]:after,
h4[id]:after,
h5 > a[name]:after,
h5[id]:after,
h6 > a[name]:after,
h6[id]:after {
    font-family: FontAwesome;
    content: "\00A0\00A0\f13d";
    font-size:50%;
    opacity:0.5;
    vertical-align:middle;
}
h1 > a[name]:target,
h1[id]:target,
h2 > a[name]:target,
h2[id]:target,
h3 > a[name]:target,
h3[id]:target,
h4 > a[name]:target,
h4[id]:target,
h5 > a[name]:target,
h5[id]:target,
h6 > a[name]:target,
h6[id]:target {
    background:yellow;
}

/* link file type icons */
a[href$=".pdf"]:after {
    content: "\00A0\f1c1";
}
a[href$=".zip"]:after,
a[href$=".gz"]:after,
a[href$=".tar"]:after,
a[href$=".7z"]:after,
a[href$=".rar"]:after {
    content: "\00A0\f1c6";
}
a[href$=".doc"]:after,
a[href$=".docx"]:after,
a[href$=".dot"]:after,
a[href$=".dotx"]:after,
a[href$=".docm"]:after,
a[href$=".odt"]:after,
a[href$=".rtf"]:after,
a[href$=".uot"]:after,
a[href$=".uof"]:after {
    content: "\00A0\f1c2";
}
a[href$=".ppt"]:after,
a[href$=".pps"]:after,
a[href$=".pot"]:after,
a[href$=".pptx"]:after,
a[href$=".pptm"]:after,
a[href$=".potx"]:after,
a[href$=".potm"]:after {
    content: "\00A0\f1c4";
}
a[href$=".xls"]:after,
a[href$=".xlw"]:after,
a[href$=".xlt"]:after,
a[href$=".xlsx"]:after,
a[href$=".xlsm"]:after,
a[href$=".xltx"]:after,
a[href$=".xltm"]:after,
a[href$=".xlsb"]:after,
a[href$=".csv"]:after {
    content: "\00A0\f1c3";
}
a[href$=".jpg"]:after,
a[href$=".jpeg"]:after,
a[href$=".gif"]:after,
a[href$=".png"]:after,
a[href$=".tif"]:after,
a[href$=".tiff"]:after,
a[href$=".bmp"]:after,
a[href$=".svg"]:after,
a[href$=".webp"]:after {
    content: "\00A0\f1c5";
}
a[href$=".webm"]:after,
a[href$=".mkv"]:after,
a[href$=".flv"]:after,
a[href$=".avi"]:after,
a[href$=".mov"]:after,
a[href$=".wmv"]:after,
a[href$=".asf"]:after,
a[href$=".mpg"]:after,
a[href$=".mpeg"]:after,
a[href$=".m2v"]:after,
a[href$=".m4v"]:after {
    content: "\00A0\f1c8";
}
a[href$=".aac"]:after,
a[href$=".aiff"]:after,
a[href$=".flac"]:after,
a[href$=".m4a"]:after,
a[href$=".mp3"]:after,
a[href$=".ogg"]:after,
a[href$=".oga"]:after,
a[href$=".wav"]:after,
a[href$=".wma"]:after {
    content: "\00A0\f1c7";
}
a[href$=".git"]:after {
    content: "\00A0\f1d2";
}
a[href^="magnet:"]:after {
    content: "\00A0\f076";
}

/* link site icons */
a[href*="//500px.com"]:after,
a[href*="//www.500px.com"]:after {
    content: "\00A0\f26e";
}
a[href*="//amazon.com"]:after,
a[href*="//www.amazon.com"]:after,
a[href*="//smile.amazon.com"]:after,
a[href*="//amzn.to"]:after {
    content: "\00A0\f270";
}
a[href*="//behance.net"]:after,
a[href*="//www.behance.net"]:after {
    content: "\00A0\f1b4";
}
a[href*="//bitbucket.com"]:after,
a[href*="//www.bitbucket.com"]:after,
a[href*="//bitbucket.org"]:after,
a[href*="//www.bitbucket.org"]:after {
    content: "\00A0\f171";
}
a[href*="//codepen.io"]:after,
a[href*="//www.codepen.io"]:after {
    content: "\00A0\f1cb";
}
a[href*="//deviantart.com"]:after,
a[href*="//www.deviantart.com"]:after {
    content: "\00A0\f1bd";
}
a[href*="//dribbble.com"]:after,
a[href*="//www.dribbble.com"]:after {
    content: "\00A0\f17d";
}
a[href*="//dropbox.com"]:after,
a[href*="//www.dropbox.com"]:after {
    content: "\00A0\f16b";
}
a[href*="//facebook.com"]:after,
a[href*="//www.facebook.com"]:after {
    content: "\00A0\f230";
}
a[href*="//flickr.com"]:after,
a[href*="//www.flickr.com"]:after {
    content: "\00A0\f16e";
}
a[href*="//foursquare.com"]:after,
a[href*="//www.foursquare.com"]:after {
    content: "\00A0\f180";
}
a[href*="//github.com"]:after,
a[href*="//www.github.com"]:after,
a[href*="//gist.github.com"]:after {
    content: "\00A0\f09b";
}
a[href*="//plus.google.com"]:after {
    content: "\00A0\f0d4";
}
a[href*="//instagram.com"]:after,
a[href*="//www.instagram.com"]:after {
    content: "\00A0\f16d";
}
a[href*="//jsfiddle.net"]:after,
a[href*="//www.jsfiddle.net"]:after {
    content: "\00A0\f1cc";
}
a[href*="//last.fm"]:after,
a[href*="//www.last.fm"]:after {
    content: "\00A0\f203";
}
a[href*="//leanpub.com"]:after,
a[href*="//www.leanpub.com"]:after {
    content: "\00A0\f212";
}
a[href*="//linkedin.com"]:after,
a[href*="//www.linkedin.com"]:after {
    content: "\00A0\f08c";
}
a[href*=".mixcloud.com"]:after {
    content: "\00A0\f23a";
}
a[href*="//mixcloud.com"]:after,
a[href*="//www.mixcloud.com"]:after {
    content: "\00A0\f289";
}
a[href*="//paypal.com"]:after,
a[href*="//www.paypal.com"]:after {
    content: "\00A0\f1ed";
}
a[href*="//pinterest.com"]:after,
a[href*="//www.pinterest.com"]:after {
    content: "\00A0\f0d2";
}
a[href*="//reddit.com"]:after,
a[href*="//www.reddit.com"]:after {
    content: "\00A0\f1a1";
}
a[href*="//skype.com"]:after,
a[href*="//www.skype.com"]:after {
    content: "\00A0\f17e";
}
a[href*="//slideshare.net"]:after,
a[href*="//www.slideshare.net"]:after {
    content: "\00A0\f1e7";
}
a[href*=".snapchat.com"]:after {
    content: "\00A0\f2ac";
}
a[href*=".soundcloud.com"]:after {
    content: "\00A0\f1be";
}
a[href*=".spotify.com"]:after {
    content: "\00A0\f1bc";
}
a[href*=".stackexchange.com"]:after {
    content: "\00A0\f18d";
}
a[href*=".stackoverflow.com"]:after {
    content: "\00A0\f16c";
}
a[href*=".steampowered.com"]:after {
    content: "\00A0\f1b6";
}
a[href*=".tumblr.com"]:after {
    content: "\00A0\f174";
}
a[href*="//twitch.tv"]:after,
a[href*="//www.twitch.tv"]:after {
    content: "\00A0\f1e8";
}
a[href*="//twitter.com"]:after,
a[href*="//www.twitter.com"]:after {
    content: "\00A0\f099";
}
a[href*="//vimeo.com"]:after {
    content: "\00A0\f27d";
}
a[href*="//vine.co"]:after {
    content: "\00A0\f1ca";
}
a[href*=".wikipedia.org"]:after {
    content: "\00A0\f266";
}
a[href*="//yelp.com"]:after,
a[href*="//www.yelp.com"]:after {
    content: "\00A0\f1e9";
}
a[href*="//youtube.com"]:after,
a[href*="//www.youtube.com"]:after,
a[href*="//youtu.be"]:after {
    content: "\00A0\f167";
}
